<div class="p-4">
    <!-- Today Stats -->
     <h2>KẾT QUẢ BÁN HÀNG HÔM NAY</h2>
    <div class="grid grid-cols-4 gap-4 mb-6">
      <div class="bg-white rounded-2xl shadow p-4">
        <p class="text-gray-600">Số phiếu</p>
        <p class="text-xl font-bold text-blue-500"><i class="fa-solid fa-sack-dollar"></i> {{ todayStats.orders }}</p>
        <p>Doanh thu</p>
      </div>
      <div class="bg-white rounded-2xl shadow p-4">
        <p class="text-gray-600">Số hóa đơn</p>
        <p class="text-xl font-bold text-orange-500"><i class="fa-solid fa-reply"></i> {{ todayStats.returns }}</p>
        <p>Trả hàng</p>
      </div>
      <div class="bg-white rounded-2xl shadow p-4">
        <p class="text-gray-600"> So với kỳ trước</p>
        <p class="text-xl font-bold text-red-500"><i class="fa-solid fa-circle-down"></i> {{ todayStats.changePercent }}%</p>
      </div>
    </div>
  
    <!-- Monthly Revenue Chart -->
    <div class="bg-white rounded-2xl shadow p-4 mb-6">
      <p class="text-lg font-semibold mb-2">Doanh thu thuần tháng này</p>
      <app-chart></app-chart>
    </div>
    <!-- Top 10 Products -->
    <div class="bg-white rounded-2xl shadow p-4 mb-6">
      <p class="text-lg font-semibold mb-2">Top 10 hàng hóa bán chạy tháng này</p>
     <app-chart-product></app-chart-product>
    </div>

    <!-- Recent Activities -->
    <div class="bg-white rounded-2xl shadow p-4">
      <p class="text-lg font-semibold mb-2">Các hoạt động gần đây</p>
      <div *ngFor="let activity of activities" class="border-b py-2 text-sm">
        <span class="font-medium">{{ activity.user }}</span> vừa
        <span [ngClass]="{
          'text-green-500': activity.type === 'sale',
          'text-blue-500': activity.type === 'receive',
          'text-red-500': activity.type === 'return'
        }">{{ activity.type === 'sale' ? 'bán đơn hàng' : activity.type === 'receive' ? 'nhận hàng' : 'trả hàng' }}</span>
        với giá trị <strong>{{ activity.amount | currency:'VND' }}</strong>
        <span class="text-gray-500 italic">({{ activity.time }})</span>
      </div>
    </div>
  </div>