<header class="kv-header">
    <div class="kv-top-bar">
        <div class="kv-logo">
            <img src="assets/images/logo-gara.png" alt="Logo" />
        </div>
        <div class="kv-actions">
            <span><a routerLink="/"><i class="fa-solid fa-truck-ramp-box fa-lg" style="color: #ffffff;"></i> Giao hàng</a></span>
            <span><a routerLink="/"><i class="fa-solid fa-money-check-dollar fa-lg" style="color: #ffffff;"></i> Thanh toán</a></span>
            <span (click)="toggleColorPicker()">
                <i class="fa-solid fa-palette" style="color: #ffffff;"></i> Chủ đề
            </span>
            <div class="color-picker" [class.hidden]="!showColorPicker">
                <div class="color-grid">
                    <div class="color-box" *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="selectColor(color)">
                        <i class="fa-solid fa-check" *ngIf="selectedColor === color"></i>
                    </div>
                </div>
            </div>
            <span><a routerLink="/"></a><i class="fa-solid fa-circle-exclamation" style="color: #ffffff;"></i> Hỗ trợ</span>
            <span class="icon"><i class="fa-regular fa-envelope fa-lg" style="color: #f4f1f1;"></i><span class="badge">2</span></span>
            <span class="icon"><i class="fa-solid fa-gear fa-lg"></i></span>
            <span>0789554541</span>
            <li class="user-dropdown">
                <span class="icon"><i class="fa-solid fa-circle-user fa-lg"></i></span>
                <ul class="user-dropdown-menu">
                    <li>
                        <a routerLink="/"><i class="fa-solid fa-user-gear"></i> Tài khoản</a></li>
                    <li>
                        <a routerLink="/"><i class="fa-solid fa-store"></i> Hồ sơ gian hàng</a></li>
                    <li>
                        <a routerLink="/"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a></li>
                </ul>
            </li>
        </div>
    </div>
    <nav class="kv-nav" [ngStyle]="{'background-color': selectedColor}">
        <div class="nav">
            <ul>
                <li><i class="icon"><i class="fa-solid fa-eye" style="color: #ffffff;"></i></i> Tổng quan</li>
                <li class="dropdown">
                    <span><i class="fa-solid fa-cube" style="color: #ffffff;"></i> Hàng hóa <i class="fa-solid fa-caret-down"></i></span>
                    <ul class="dropdown-menu" [ngStyle]="{'background-color': selectedColor}">
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-table-cells"></i> Danh mục</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-shield-halved"></i> Phiếu bảo hành</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-warehouse"></i> Kiểm kho</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span><i class=" fa-solid fa-repeat " style="color: #ffffff; "></i> Giao dịch <i class="fa-solid fa-caret-down "></i></span>
                    <ul class="dropdown-menu " [ngStyle]="{'background-color': selectedColor}">
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-box-open "></i> Đặt hàng</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-file-invoice-dollar "></i> Hóa đơn bán lẻ</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-file-invoice-dollar "></i> Hóa đơn sửa chữa</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-user-gear"></i> dịch vụ </a></li>
                        <li>
                            <a routerLink="/"></a><i class="fa-solid fa-screwdriver-wrench "></i> Yêu cầu sửa chữa</li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-truck-arrow-right "></i> Nhập hàng</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <span><i class="fa-solid fa-user-tie " style="color: #ffffff; "></i> Đối tác <i class="fa-solid fa-caret-down "></i></span>
                    <ul class="dropdown-menu" [ngStyle]="{'background-color': selectedColor}">
                        <li><a routerLink="/customer"><i class="fa-solid fa-user"></i> Khách hàng</a></li>
                        <li><a routerLink="/employee"><i class="fa-solid fa-network-wired"></i> Nhà cung cấp</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="/"><i class=" fa-solid fa-user-group " style="color: #ffffff; "></i> Nhân viên</a>
                </li>

                <li>
                    <a routerLink="/"><i class="fa-solid fa-circle-dollar-to-slot " style="color: #ffffff; "></i> Sổ quỹ</a></li>

                <li class="dropdown ">
                    <span><i class="icon "><i class="fa-solid fa-file-invoice " style="color: #ffffff; "></i></i> Báo cáo <i class="fa-solid fa-caret-down "></i></span>
                    <ul class="dropdown-menu " [ngStyle]="{ 'background-color': selectedColor} ">
                        <li><a routerLink="/DailyReport"><i class="fa-solid fa-calendar-check "></i> Cuối ngày</a></li>
                        <li><a routerLink="/SellReport"><i class="fa-solid fa-cash-register "></i> Bán hàng</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-cart-plus "></i> Đặt hàng</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-boxes-stacked "></i> Hàng hóa</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-user "></i> Khách hàng</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-truck "></i> Nhà cung cấp</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-people-group "></i> Nhân viên</a></li>
                        <li>
                            <a routerLink="/"><i class="fa-solid fa-sack-dollar "></i> Tài chính</a></li>
                    </ul>

                </li>
                <li>
                    <a routerLink="/"><i class="icon "><i class="fa-solid fa-cart-shopping " style="color: #ffffff; "></i></i> Website Bán hàng</a></li>
            </ul>
            <button class="btn-ban-hang ">
                <a routerLink="/"><i class="icon "><i class="fa-solid fa-basket-shopping " style="color: #ffffff; "></i></i> Bán hàng</a>
            </button>
        </div>
    </nav>
</header>