.main-content {
  padding: 16px;
  background-color: #f9fafb;
  min-height: 100vh;
  box-sizing: border-box;
}

/* TIÊU ĐỀ TRANG */
.page-title {
  margin-bottom: 16px;
}
.page-title h1 {
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
}

.main-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* NỘI DUNG CHÍNH */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* HEADER: TÌM KIẾM & NÚT */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

/* NÚT */
.actions button {
  margin-left: 8px;
  padding: 8px 12px;
  background-color: #0fc9ad;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: bold;
}

.actions button i {
  margin-right: 6px; /* hoặc 8px tùy bạn thấy vừa */
}

.actions button:hover {
  background-color: #0aaf96;
}

/* Ô TÌM KIẾM */
.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  border-color: #0aaf96;
}

.search-icon {
  position: absolute;
  left: 12px;
  color:#056c5d;
  font-size: 14px;
  font-weight: bold;
}

.search {
  padding: 10px 14px 10px 34px;
  border: 1px solid #0aaf96;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}
.search:focus {
  outline: none;
  border-color:#056c5d;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    position: relative;
  }

  .header-content {
    flex-direction: column;
    align-items: stretch;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
