<main class="main-content">
    <!-- TIÊU ĐỀ TRANG -->
    <div class="page-title">
        <h1>Danh sách nhân viên</h1>
    </div>

    <div class="main-wrapper">
        <!-- SIDEBAR -->
        <app-sidebar-filter class="sidebar"></app-sidebar-filter>

        <!-- PHẦN NỘI DUNG CHÍNH -->
        <div class="content">
            <div class="header-content">
                <!-- TÌM KIẾM -->
                <div class="search-wrapper">
                    <i class="fa fa-search search-icon"></i>
                    <input class="search" type="text" placeholder="Tìm theo mã, tên nhân viên" />
                </div>

                <!-- NÚT HÀNH ĐỘNG -->
                <div class="actions">
                    <button><i class="fa-solid fa-circle-plus"></i> Nhân viên</button>
                    <button><i class="fa-solid fa-file-import"></i> Nhập file</button>
                    <button><i class="fa-solid fa-file-export"></i> Xuất file</button>
                </div>
            </div>

            <app-employee-table></app-employee-table>
        </div>
    </div>
</main>