.bg-primary {
    background-color: #DC2626;
}

.text-primary {
    color: #DC2626;
}

.accent-primary {
    accent-color: #DC2626;
}

.rounded-button {
    border-radius: 8px;
}

.img {
    width: 100px;
}