<div class="sidebar_content">
    <div  class="sidebar">
      <h4>Trạng thái nhân viên</h4>
      <label><input type="checkbox" [(ngModel)]="filters.status.working" (change)="emitFilters()" /> Đang làm việc</label><br />
      <label><input type="checkbox" [(ngModel)]="filters.status.resigned" (change)="emitFilters()" /> Đã nghỉ</label>
    </div>
    <div class="sidebar">
      <h4>Chức vụ</h4>
      <select class="chucvu" [(ngModel)]="filters.department" (change)="emitFilters()">
        <option value="">Chọn phòng ban...</option>
        <option value="ketoan">Kế toán</option>
        <option value="nhansu">Nhân sự</option>
        <option value="kithuat">Kỹ thuật</option>
        <option value="kinhdoanh">Kinh doanh</option>
        <!-- thêm các phòng ban khác tùy theo hệ thống -->
      </select>
    </div>    
  </div>
  