    body,
    html {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', sans-serif;
        background-color: #0F111A;
        color: #FFFFFF;
    }
    
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .kv-header {
        width: 100%;
        background-color: #0F111A;
    }
    
    .kv-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 auto;
        color: #C0C2CC;
        width: 98%;
        max-width: 1480px;
    }
    
    .kv-logo img {
        height: 40px;
        width: auto;
    }
    
    .kv-actions {
        display: flex;
        align-items: center;
        gap: 20px;
        color: #FFFFFF;
    }
    
    .kv-actions span {
        cursor: pointer;
        transition: color 0.2s;
    }
    
    .kv-actions span:hover {
        color: #12E6C8;
    }
    
    .kv-actions .badge {
        background: #E74C3C;
        color: white;
        font-size: 10px;
        border-radius: 8px;
        padding: 2px 6px;
        margin-left: 4px;
    }
    
    .kv-nav {
        /* background: linear-gradient(to bottom, #141824, #1E2130); */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }
    
    .nav {
        max-width: 1480px;
        width: 98%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .kv-nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    
    .kv-nav li {
        color: #C0C2CC;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 15px;
        cursor: pointer;
        padding: 6px 12px;
        border-radius: 10px;
        transition: background 0.3s, color 0.3s;
    }
    
    .kv-nav li:hover,
    .kv-nav li.active {
        background-color: #202433;
        color: #12E6C8;
    }
    
    .kv-nav li .icon {
        font-size: 18px;
    }
    
    .btn-ban-hang {
        background-color: #aae6de;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
        color: #0F111A;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: background 0.3s ease, color 0.3s;
        box-shadow: 0 4px 8px rgba(18, 230, 200, 0.3);
    }
    
    .btn-ban-hang:hover {
        background-color: #0ed8bb;
        color: white;
    }
    
    .kv-gradient-separator {
        height: 4px;
        background: linear-gradient(to right, #E8C87B, #12E6C8);
        border-radius: 2px;
    }
    /* Dropdown Styles */
    
    .kv-nav .dropdown {
        position: relative;
    }
    
    .dropdown-menu {
        background-color: #0ED8BB;
    }
    
    .kv-nav .dropdown-menu {
        display: none;
        position: absolute;
        /* background-color: #0ED8BB; */
        top: 100%;
        left: 0;
        min-width: 180px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        padding: 5px 10px;
        border-radius: 6px;
    }
    
    .kv-nav .dropdown-menu li {
        color: white;
        padding: 10px 12px;
        white-space: nowrap;
        cursor: pointer;
        padding: 10px 20px;
    }
    
    .kv-nav .dropdown-menu li:hover {
        background-color: #0ED8BB;
    }
    
    .kv-nav .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .user-dropdown {
        position: relative;
        display: inline-block;
    }
    
    .user-dropdown .user-dropdown-menu {
        display: none;
        position: absolute;
        background-color: #1B1E2C;
        top: 100%;
        right: 0;
        min-width: 180px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
        padding: 5px 10px;
        border-radius: 6px;
    }
    
    .user-dropdown-menu {
        margin-top: -1px;
    }
    
    .user-dropdown:hover .user-dropdown-menu {
        display: block;
    }
    
    .user-dropdown-menu li {
        color: #1A1D2B;
        padding: 10px 12px;
        white-space: nowrap;
        cursor: pointer;
        padding: 10px 20px;
        list-style: none;
        display: block;
    }
    
    .user-dropdown-menu li:hover {
        background-color: #a2ade9;
        color: #C0C2CC;
        border-radius: 6px;
    }
    
    .color-picker {
        position: absolute;
        background: white;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 180px;
        z-index: 999;
        right: 310px;
    }
    
    .hidden {
        display: none;
    }
    
    .color-grid {
        display: grid;
        grid-template-columns: repeat(3, 40px);
        gap: 10px;
    }
    
    .color-box {
        width: 40px;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
    }
    
    .color-box i {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
    }
    /* -------------------------------------------------------- */
    
    .user-popup {
        position: fixed;
        z-index: 9999;
        width: 90vw;
        /* co giãn theo màn hình */
        max-width: 1100px;
        max-height: 90vh;
        overflow-y: auto;
        background-color: white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
    
    .form-grid {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
    }
    
    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    label {
        font-weight: 500;
        margin-bottom: 4px;
    }
    
    input,
    textarea {
        padding: 10px;
        /* border-radius: 8px; */
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;
    }
    
    textarea {
        resize: vertical;
        min-height: 80px;
    }
    
    .phone-field {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .actions {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-top: 10px;
    }
    
    .btn {
        padding: 10px 18px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .btn.save {
        background: #4caf50;
        color: white;
    }
    
    .btn.cancel {
        background: #9e9e9e;
        color: white;
    }
    
    .btn.delete {
        background: #e53935;
        color: white;
    }
    
    .section {
        margin-top: 30px;
        border: 1px dashed #ccc;
        border-radius: 10px;
        padding: 20px;
        background: #fafafa;
    }
    
    .section h3 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    
    .input-icon {
        position: relative;
    }
    
    .input-icon input {
        width: 100%;
        padding-right: 30px;
    }
    
    .input-icon i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #888;
    }
    
    .device-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        border: 1px solid #eee;
        padding: 10px 15px;
        border-radius: 8px;
        margin-top: 10px;
    }
    
    .device-actions {
        display: flex;
        gap: 10px;
    }
    
    .doi-mat-khau-form {
        margin-top: 20px;
    }
    
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }
    
    .close-btn {
        background-color: white;
        border: none;
        font-size: 24px;
        margin-top: -40px;
    }
    
   .modal-header h2{
    font-size: 16px;
   }