<div class="container">
    <div class="sidebar_content">
        <div class="title">
            <h2>Sổ quỹ tiền mặt</h2>
        </div>
        <div class="sidebar">
            <h4>Quỹ tiền</h4>
            <div class="radio-group1">
                <label><input type="radio" name="loaiQuy" value="tienMat" checked /> Tiền mặt</label>
                <label><input type="radio" name="loaiQuy" value="nganHang" /> Ngần hàng</label>
                <label><input type="radio" name="loaiQuy" value="tongQuy" /> Tổng quỹ</label>
            </div>
        </div>

        <div class="sidebar">
            <h4>Thời gian</h4>
            <div class="time-options">
                <div class="date-today-wrapper">
                    <label class="radio-option">
                        <input type="radio" name="thoigian" value="today" [(ngModel)]="selectedTime" (change)="onTimeChange()">
                        <span>{{ todayLabel }}</span>
                    </label>
                    <div class="button-datepicker-wrapper">
                        <button mat-icon-button (click)="picker.open()" class="arrow-button">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <input matInput [matDatepicker]="picker" class="fake-input" (dateChange)="onDateSelected($event)">
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
                <div class="range-time" *ngIf="selectedTime === 'today' || selectedTime === 'custom'">
                    <div class="time-input-wrapper">
                        <label class="time-label">Từ</label>
                        <div class="time-input">
                            <input type="time" [(ngModel)]="fromTime">
                        </div>
                    </div>

                    <div class="time-input-wrapper">
                        <label class="time-label">Đến</label>
                        <div class="time-input">
                            <input type="time" [(ngModel)]="toTime">
                        </div>
                    </div>
                </div>
                <label class="radio-option">
                    <input type="radio" name="thoigian" value="custom" [(ngModel)]="selectedDay" (change)="onTimeChange()">
                    <span>Lựa chọn khác</span>
                </label>
                <div *ngIf="showDateRange" class="date-range-picker">
                    <label>Từ:</label>
                    <input type="date" [(ngModel)]="fromDate">

                    <label>Đến:</label>
                    <input type="date" [(ngModel)]="toDate">
                    <button (click)="generateReport()">Tìm</button>
                </div>

            </div>
        </div>

        <div class="sidebar">
            <h4>Loại chứng từ</h4>
            <div class="radio-group1">
                <label><input type="checkbox" name="loaiCT" value="phieuThu" checked /> Phiếu thu </label>
                <label><input type="checkbox" name="loaiCT" value="phieuChi" /> Phiếu chi</label>
            </div>
        </div>
        <div class="sidebar">
            <h4>Loại thu chi</h4>
            <select>
                <option value="" disabled selected>Chọn loại thu chi</option>
                <option value="1">Chi phí khác</option>
                <option value="2">Thu nhập khác</option>
                <option value="3">Chuyển/Rút</option>
                <option value="4">Tiền hàng</option>
            </select>
        </div>
        <div class="sidebar">
            <h4>Trạng thái</h4>
            <div class="radio-group1">
                <label><input type="checkbox" name="trangThai" value="daThanhToan" checked /> Đã thanh toán </label>
                <label><input type="checkbox" name="trangThai" value="daHuy" /> Đã hủy</label>
            </div>
        </div>
        <div class="sidebar">
            <h4>Người tạo</h4>
            <select>
                <option value="" disabled selected>Chọn người tạo</option>
                <option value="1">Nguyễn Văn A</option>
                <option value="2">Trần Thị B</option>
                <option value="3">Lê Văn C</option>
            </select>
        </div>
        <div class="sidebar">
            <h4>Nhân viên</h4>
            <select>
                <option value="" disabled selected>Chọn nhân viên</option>
                <option value="1">Nguyễn Văn A</option>
                <option value="2">Trần Thị B</option>
                <option value="3">Lê Văn C</option>
            </select>
        </div>
    </div>
    <main class="main-content ">
        <div class="search-actions ">
            <div class="search-wrapper ">
                <div class="search-box ">
                    <i class="fas fa-search search-icon "></i>
                    <input type="text " [(ngModel)]="searchKeyword " class="search-input " [placeholder]="selectedOptionLabel " (focus)="showDropdown=true " />
                    <button class="dropdown-toggle " (click)="toggleDropdown() ">
                <i class="fas fa-chevron-down "></i>
              </button>

                    <div class="dropdown-menu " *ngIf="showDropdown ">
                        <div class="dropdown-item " *ngFor="let option of searchOptions " [class.active]="selectedOption=== option.value " (click)="selectOption(option) ">
                            {{ option.label }}
                        </div>

                        <button class="btn btn-search-inside " (click)="onSearch() ">
                  <i class="fas fa-search "></i> Tìm kiếm
                </button>
                    </div>
                </div>
            </div>

            <div class="button-group ">
                <button class="btn btn-success " title="lập phiếu thu " (click)="openModalAdd()">
                    <i class="fa-solid fa-file-pen"></i>
                    Lập phiếu thu
                </button>
                <button class="btn btn-success " title="Lập phiếu chi " (click)="openModalchi()">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    Lập phiếu chi
                </button>

                <div class="dropdown-wrapper ">
                    <button class="btn btn-success dropdown-btn " title="Xuất file ">
                    <i class="fas fa-file-alt "></i> File <i class="fas fa-caret-down ml-1 "></i>
                  </button>
                    <div class="dropdown-menu ">
                        <div class="dropdown-item ">
                            <i class="fas fa-file-import "></i> Import
                        </div>
                        <div class="dropdown-item ">
                            <i class="fas fa-file-export "></i> Xuất file
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop" *ngIf="showFormAdd">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Lập phiếu thu(tiền mặt)</h3>
                        <button class="close-btn" (click)="closeModalAdd()">×</button>
                    </div>
                    <form [formGroup]="customerForm" class="modal-body">
                        <div class="form-grid">
                            <!-- Cột 1 -->
                            <div>

                                <label>Mã phiếu</label>
                                <input formControlName="maPhieu" readonly>

                                <label>Thời gian</label>
                                <input type="date" formControlName="thoigian">

                                <label>Loại thu</label>
                                <input list="loaiThuList" formControlName="loaiThu">
                                <datalist id="loaiThuList">
                                  <option value="Thu nhập khác">
                                  <option value="Chuyển/Rút">
                                  <option value="Nhập hàng">
                                  <option value="Chi phí khác">
                                </datalist>

                                <label>Giá trị</label>
                                <input type="number" formControlName="giaTri">

                                <label>Nhân viên</label>
                                <input list="nhanVienList" formControlName="nhanVien">
                                <datalist id="nhanVienList">
                                  <option value="Võ Thanh An">
                                  <option value="Trương Ngọc Hân">
                                  <option value="Trần Phi Hùng">
                                  <option value="Trần Hoàng Vinh">
                                </datalist>
                            </div>
                            <!-- Cột 2 -->
                            <div>
                                <label>Đối tượng nộp</label>
                                <input list="doiTuongList" formControlName="doiTuong">
                                <datalist id="doiTuongList">
                                  <option value="Nhà cung cấp">
                                  <option value="Nhân viên">
                                  <option value="Khách hàng">
                                  <option value="Khác">
                                </datalist>
                                <label>Tên người nộp</label>
                                <input formControlName="tenNguoinop">

                                <label>Ghi chú</label>
                                <textarea formControlName="ghiChu"></textarea>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" (click)="save()" class="btn-save"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                            <button type="button" (click)="closeModalAdd()" class="btn-cancel"><i class="fa-solid fa-ban"></i> Bỏ qua</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-backdrop" *ngIf="showFormchi">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Lập phiếu chi(tiền mặt)</h3>
                        <button class="close-btn" (click)="closeModalchi()">×</button>
                    </div>
                    <form [formGroup]="customerForm" class="modal-body">
                        <div class="form-grid">
                            <!-- Cột 1 -->
                            <div>
                                <label>Mã phiếu</label>
                                <input formControlName="maPhieu" readonly>

                                <label>Thời gian</label>
                                <input type="date" formControlName="thoigian">

                                <label>Loại chi</label>
                                <input list="loaiThuList" formControlName="loaiThu">
                                <datalist id="loaiThuList">
                                  <option value="Thu nhập khác">
                                  <option value="Chuyển/Rút">
                                  <option value="Nhập hàng">
                                  <option value="Chi phí khác">
                                </datalist>

                                <label>Giá trị</label>
                                <input type="number" formControlName="giaTri">

                                <label>Nhân viên</label>
                                <input list="nhanVienList" formControlName="nhanVien">
                                <datalist id="nhanVienList">
                                  <option value="Võ Thanh An">
                                  <option value="Trương Ngọc Hân">
                                  <option value="Trần Phi Hùng">
                                  <option value="Trần Hoàng Vinh">
                                </datalist>
                            </div>
                            <!-- Cột 2 -->
                            <div>
                                <label>Đối tượng nộp</label>
                                <input list="doiTuongList" formControlName="doiTuong">
                                <datalist id="doiTuongList">
                                  <option value="Nhà cung cấp">
                                  <option value="Nhân viên">
                                  <option value="Khách hàng">
                                  <option value="Khác">
                                </datalist>
                                <label>Tên người nộp</label>
                                <input formControlName="tenNguoinop">

                                <label>Ghi chú</label>
                                <textarea formControlName="ghiChu"></textarea>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="modal-footer">
                            <button type="button" (click)="save()" class="btn-save"><i class="fa-solid fa-floppy-disk"></i> Lưu</button>
                            <button type="button" (click)="closeModalchi()" class="btn-cancel"><i class="fa-solid fa-ban"></i> Bỏ qua</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overlay" *ngIf="showPhieu">
                <div class="receipt-popup">
                    <div class="receipt-popup">

                        <div class="modal-header">
                            <h3>Phiếu chi</h3>
                            <button class="close-btn" (click)="dongPhieu()">×</button>
                        </div>
                        <div class="info-grid">
                            <div class="field-row">
                                <label>Mã phiếu chi:</label>
                                <span class="value highlight">TTPN000046</span>
                            </div>
                            <div class="field-row">
                                <label>Nhân viên:</label>
                                <span class="value">hùng</span>
                            </div>
                            <div class="field-row">
                                <label>Thời gian:</label>
                                <span class="value">11/05/2025 20:15</span>
                            </div>
                            <div class="field-row">
                                <label>Phương thức:</label>
                                <span class="value">Tiền mặt</span>
                            </div>
                            <div class="field-row">
                                <label>Người tạo:</label>
                                <span class="value">hùng</span>
                            </div>
                            <div class="field-row">
                                <label>Nhà cung cấp:</label>
                                <span class="value link">Công ty Hoàng Gia</span>
                            </div>
                        </div>

                        <table class="receipt-table">
                            <thead>
                                <tr>
                                    <th>Mã phiếu</th>
                                    <th>Thời gian</th>
                                    <th>Giá trị phiếu</th>
                                    <th>Đã chi trước</th>
                                    <th>Tiền chi</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PN000046</td>
                                    <td>11/05/2025 20:14</td>
                                    <td>24,960,000</td>
                                    <td>0</td>
                                    <td>24,960,000</td>
                                    <td>Đã thanh toán</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="total-row">
                            <span>Tổng tiền chi:</span>
                            <strong> 24,960,000</strong>
                        </div>

                        <div class="button-group">
                            <button class="btn green"><i class="fa-solid fa-square-check"></i> Cập nhật</button>
                            <button class="btn print"><i class="fa-solid fa-print"></i> In</button>
                            <button class="btn red"><i class="fa-solid fa-ban"></i> Hủy bỏ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-box">
            <div class="summary-item">
                <div>Quỹ đầu kỳ</div>
                <div class="nomal">0</div>
            </div>
            <div class="summary-item">
                <div>Tổng thu</div>
                <div class="text-blue">622,350,000</div>
            </div>
            <div class="summary-item">
                <div>Tổng chi</div>
                <div class="text-red">-622,350,000</div>
            </div>
            <div class="summary-item">
                <div>
                    Tồn quỹ <i class="fa-solid fa-circle-info" title="Tồn quỹ = Quỹ đầu kỳ + Tổng thu - Tổng chi"></i>
                </div>
                <div class="text-green">0</div>
            </div>
        </div>

        <table class="customer-table">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Mã phiếu</th>
                    <th>Thời gian</th>
                    <th>Người tạo</th>
                    <th>Loại thu chi</th>
                    <th>Người nộp/nhận</th>
                    <th>Giá trị</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let c of customers; let i = index">
                    <tr (click)="selectCustomer(c, i)">
                        <td><input type="checkbox" /></td>
                        <td>{{ c.code }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.type }}</td>
                        <td>{{ c.phone }}</td>
                        <td>{{ c.address }}</td>
                        <td>{{ c.region }}</td>
                        <td>{{ c.note }}</td>
                    </tr>

                    <tr *ngIf="selectedCustomer && selectedIndex === i">
                        <td colspan="8">
                            <div class="payment-detail-box">
                                <!-- Tabs -->
                                <div class="tabs">
                                    <div class="tab active">Thông tin</div>
                                </div>

                                <!-- Nội dung chi tiết -->
                                <div class="detail-content">
                                    <!-- Cột trái -->
                                    <div class="col">
                                        <div class="field-row">
                                            <label>Mã phiếu:</label>
                                            <span class="value highlight">TTPN000046</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Thời gian:</label>
                                            <span class="value">11/05/2025 20:15</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Giá trị:</label>
                                            <span class="value">
                                                -24,960,000</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Người nhận:</label>
                                            <span class="value highlight">
                                                NCC0002 - Công ty Hoàng Gia</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Số điện thoại:</label>
                                            <span class="value">
                                                0988888887</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Địa chỉ:</label>
                                            <span class="value"></span>
                                        </div>
                                    </div>


                                    <!-- Cột giữa -->
                                    <div class="col">

                                        <div class="field-row">
                                            <label>Loại thu chi:</label>
                                            <span class="value">{{ selectedCustomer.paymentType }}</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Trạng thái:</label>
                                            <span class="value">{{ selectedCustomer.status }}</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Người tạo:</label>
                                            <span class="value">{{ selectedCustomer.createdBy }}</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Nhân viên:</label>
                                            <span class="value">{{ selectedCustomer.staff }}</span>
                                        </div>
                                        <div class="field-row">
                                            <label>Đối tượng nhận:</label>
                                            <span class="value">{{ selectedCustomer.receiverType }}</span>
                                        </div>
                                    </div>


                                    <!-- Cột phải (ghi chú) -->
                                    <div class="col note-col">
                                        <i>Ghi chú:...</i>
                                    </div>
                                </div>

                                <!-- Ghi chú phụ -->
                                <div class="sub-note" *ngIf="selectedCustomer.relatedCode">
                                    <i>Phiếu chi tự động được tạo gắn với nhập hàng</i>
                                    <a href="#"> {{ selectedCustomer.relatedCode }}</a>
                                </div>

                                <!-- Các nút hành động -->
                                <div class="detail-actions">
                                    <button class="btn btn-success" (click)="moPhieu()">
                                <i class="fa-solid fa-share"></i> Mở phiếu </button>
                                    <button class="btn print" (click)="print()">
                                <i class="fa-solid fa-print"></i> In</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="receipt-popup" *ngIf="showPhieu">

            <div class="modal-header">
                <h3>Phiếu chi</h3>
                <button class="close-btn" (click)="dongPhieu()">×</button>
            </div>
            <div class="info-grid">
                <div class="field-row">
                    <label>Mã phiếu chi:</label>
                    <span class="value highlight">TTPN000046</span>
                </div>
                <div class="field-row">
                    <label>Nhân viên:</label>
                    <span class="value">hùng</span>
                </div>
                <div class="field-row">
                    <label>Thời gian:</label>
                    <span class="value">11/05/2025 20:15</span>
                </div>
                <div class="field-row">
                    <label>Phương thức:</label>
                    <span class="value">Tiền mặt</span>
                </div>
                <div class="field-row">
                    <label>Người tạo:</label>
                    <span class="value">hùng</span>
                </div>
                <div class="field-row">
                    <label>Nhà cung cấp:</label>
                    <span class="value link">Công ty Hoàng Gia</span>
                </div>
            </div>

            <table class="receipt-table">
                <thead>
                    <tr>
                        <th>Mã phiếu</th>
                        <th>Thời gian</th>
                        <th>Giá trị phiếu</th>
                        <th>Đã chi trước</th>
                        <th>Tiền chi</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PN000046</td>
                        <td>11/05/2025 20:14</td>
                        <td>24,960,000</td>
                        <td>0</td>
                        <td>24,960,000</td>
                        <td>Đã thanh toán</td>
                    </tr>
                </tbody>
            </table>

            <div class="total-row">
                <span>Tổng tiền chi:</span>
                <strong>24,960,000</strong>
            </div>

            <div class="button-group">
                <button class="btn green">✔ Cập nhật</button>
                <button class="btn print">🖨 In</button>
                <button class="btn red">✖ Hủy bỏ</button>
            </div>
        </div>

        <div class="pagination ">
            <button class="page-btn " disabled>
              <i class="fas fa-chevron-left "></i>
            </button>

            <button class="page-btn active ">1</button>
            <button class="page-btn ">2</button>
            <button class="page-btn ">3</button>
            <span class="dots ">...</span>
            <button class="page-btn ">10</button>

            <button class="page-btn ">
              <i class="fas fa-chevron-right "></i>
            </button>
        </div>

    </main>
</div>
<div id="printArea">
    <div style="text-align: right; font-size: 12px;">
        <div>Dịch vụ phụ tùng - Sổ quỹ</div>
    </div>
    <div style="font-weight: bold;">Quy nhơn, Bình định</div>
    <div>SDT: 0932541103</div>
    <div>Địa chỉ:</div>

    <h2 style="text-align: center; margin-top: 20px;">PHIẾU CHI</h2>
    <div style="text-align: center;">Mã phiếu chi: TTPN000043</div>
    <div style="text-align: center;">Ngày: 08/05/2025</div>

    <br>
    <table class="print-table">
        <tr>
            <td class="label">Họ tên người nhận tiền:</td>
            <td class="value" style="border-bottom: 1px dotted black; width: 450px;">Cửa hàng Đại Việt</td>
        </tr>
        <tr>
            <td class="label">Số điện thoại:</td>
            <td class="value" style="border-bottom: 1px dotted black; width: 450px;">0988888884</td>
        </tr>
        <tr>
            <td class="label">Địa chỉ:</td>
            <td class="value" style="border-bottom: 1px dotted black; width: 450px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="label">Lý do chi:</td>
            <td class="value" style="border-bottom: 1px dotted black; width: 450px;">&nbsp;</td>
        </tr>
    </table>
    <br>
    <div>Số tiền: <b>13,980,000 đồng</b></div>
    <div>Bằng chữ: Mười ba triệu chín trăm tám mươi nghìn đồng chẵn</div>

    <br><br>
    <div style=" text-align: right; margin-top: 20px; ">
        Ngày ...... Tháng ...... Năm ........
    </div>
    <table style="width: 92%; text-align: center; margin-top: 40px;">
        <tr>
            <td>Người lập phiếu</td>
            <td>Người nhận</td>
            <td>Thủ quỹ</td>
        </tr>
    </table>





</div>

<app-footer></app-footer>