@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Montserrat', sans-serif;
}

body,
html,
app-root {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}